

<div class="container">
  <div class="row">
    <img  class="shape-right" src="../assets/imgs/shape-top-right.svg" alt="Shape right">
  </div>


<div  class="column left ">
    <div  class="column-content-container">
     <div class="row ">
     <div class="col-md-6">

     
     <div style="margin-top:90px" class="logo-container">
      <h4 style="margin-left:-130px;" >To guide you toward a successful career</h4>
         </div>
        
         <div class="motto-container">
          <img style="margin-left:-120px; margin-top:-5px" [src]="'assets/imgs/logoSirius-light.png'" alt="Sirius HR logo">
          
        
         </div>
       
      </div>
      

       
     <!--  <div style="background-color: rgb(133, 133, 251); width:400px;margin-left:80px; height:300px;margin-top:20px; " class="col-md-6">-->
      
        <div  style="margin-top: 20px;" id="carouselExampleIndicators" class="carousel  slide col-md-6" data-bs-ride="carousel">
            <div style="background-color: rgb(41, 68, 143);  margin-top:10px; border-radius:18px; margin-right:80px; " class="carousel-indicators">
              <button type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
         <!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button> -->
            </div>
            <div  class="carousel-inner">
              <div class="carousel-item active">
                
      
                <div class="container-fluid row">
                    <div class="col-md-6"  style="margin-top:-30px;"  >    
                   <img  data-aos="fade-down" data-aos-offset="200"
                   data-aos-delay="50"
                   data-aos-duration="1000"  style="width:80%;  "   src="https://cdn-icons-png.flaticon.com/256/4481/4481293.png">
                    </div>
                    <div class="col-md-6" >
                        <br> <br> <br>
                   <h5 data-aos="fade-down" data-aos-offset="200"
                   data-aos-delay="50"
                   data-aos-duration="1000" > Etape 1:</h5>
                    <h2 data-aos="fade-down" data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000"  > Selectionnez les offres qui vous <br> conviennent </h2>
                     <p data-aos="fade-down" data-aos-offset="200"
                     data-aos-delay="50"
                     data-aos-duration="1000" >C'est simple.<br>
                         Glissez les opportunités qui vous semble intéressantes sinon<br>
                         votre candidature sera considérée comme spontannée..</p>
                       
                    </div>
            
                    
                </div><br> <br>
            
                    






              </div>
              <div class="carousel-item">
               
                <div class="container-fluid row">
                    <br> <br> <br> 
                    <div style="margin-top:100px" class="col-md-6"  >
                       
                  <h5  data-aos="fade-down" data-aos-offset="200"
                  data-aos-delay="50"
                  data-aos-duration="1000" > Etape 2:</h5>
                    <h2 data-aos="fade-down" data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000"  > Ajoutez votre  CV </h2>
                    <p data-aos="fade-down" data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000" >Vous devez introduire vos informations personnelles 
                        <br> ainsi que votre curruclum vital CV .</p>
                    </div>
                    <div class="col-md-6" style="margin-top:-5px; " >    
                        <img data-aos="fade-down" data-aos-offset="200"
                        data-aos-delay="50"
                        data-aos-duration="1000"  style="width:80%; "   src="https://cdn-icons-png.flaticon.com/256/6119/6119725.png">
                         </div>
            
                    </div> <br> <br><br> <br> <br> <br>



              </div>
              

              <div class="carousel-item ">

                <div class="container-fluid row" style="margin-top:100px">
                    <br> <br> <br> 
                    <div style="margin-top:-140px" class="col-md-6"  >
                       

                      <img style="margin-top:100px" data-aos="fade-down" data-aos-offset="200"
                      data-aos-delay="50"
                      data-aos-duration="1000"  style="width:80%;" src="https://cdn-icons-png.flaticon.com/256/6639/6639748.png">
                   
                    </div>
                  
      
                    <div class="col-md-6" style="margin-top:-30px;" > 
                      <h5 data-aos="fade-down" data-aos-offset="200"
                      data-aos-delay="50"
                      data-aos-duration="1000" >Etape 3:</h5>
                       <h2 data-aos="fade-down" data-aos-offset="200"
                       data-aos-delay="50"
                       data-aos-duration="1000"  > Passez votre quiz</h2>
                       <p data-aos="fade-down" data-aos-offset="200"
                       data-aos-delay="50"
                       data-aos-duration="1000" >
                         Selon votre compétances,vous allez recevoir un mail <br>
                          dont vous devez l'accéder pour passer le quiz<br> 
                         qui vous convient.
                       </p>
                     </div> 
                     
                    
                    </div> <br> <br> <br> <br> <br> 
      
                </div> 
               
                <div class="carousel-item ">
                    <div class="container-fluid row">
                        <div class="col-md-6"  style="margin-top:100px;" >    
                          <h5 data-aos="fade-down" data-aos-offset="200"
                          data-aos-delay="50"
                          data-aos-duration="1000" >Etape 4:</h5>
                           <h2 data-aos="fade-down" data-aos-offset="200"
                           data-aos-delay="50"
                           data-aos-duration="1000" > Passez les autres <br> entretients  </h2>
                            <p data-aos="fade-down" data-aos-offset="200"
                            data-aos-delay="50"
                            data-aos-duration="1000" > 
                               Dans le cas de reussite dans le premier test, <br>
                               un manager technique et RH vont vous contacter pour terminer<br> 
                               la suite de processus de recrutement.</p>
                    
                        </div>
                        <div class="col-md-6" style="margin-top:-50px;" >
                            <br> <br> <br>
                            <img data-aos="fade-down" data-aos-offset="200"
                            data-aos-delay="50"
                            data-aos-duration="1000"  style="width:80%; "   src="https://cdn-icons-png.flaticon.com/256/6857/6857434.png">
                            
                      
                        </div>
                        </div> <br> <br> 
                       </div> 
               



            </div>
            <button   class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span  class="carousel-control-next-icon" aria-hidden="true"></span>
              <span   class="visually-hidden">Next</span>
            </button>
          </div>
       

      
       </div>
    
    
  
         
         
    
    </div> 
     
    <div class="row">
      <img  class="shape-left" src="../assets/imgs/shape-bottom-left.svg" alt="Shape Left">
    </div>


   </div>